.hero {
    width: auto;
    background-image: url(../img/hero-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 6.6rem 0;
}

.hero img {
    width: 300px;
}

.hero p {
    color: white;
    padding: 2.6rem 0;
    width: 100%;
    line-height: normal;
    text-align: start;
    font-size: 16px;
}

/*DESKTOP*/
@media screen and (min-width: 710px) {
    .hero img {
        width: 450px;
    }

    .hero p {
        width: 400px;
        font-size: 19px;
    }
}